.post-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  gap: 1rem;
}

.post-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.post-date {
  font-style: italic;
  font-size: 0.9rem;
  color: #555;
}

.post-text {
  line-height: 1.6;
  font-size: 1.1rem;
}
